/* ===================================
   ICP - D Page Styles
   =================================== */

@media (max-width: 768px) {
    
}

@media (max-width: 600px) {
}
@media (max-width: 380px) {
  
}
@media (max-width: 375px) {
    
}