/* ===================================
   ICP - Dashboard Page Styles
   =================================== */
.box-action {
    color: var(--mud-palette-text-primary);
    border: 1px solid rgb(232, 232, 232,0.1);
    padding: 5px 15px;
    border-radius: var(--radius-md) !important;
    box-shadow: 0px 0px 3px 0 #a1f4ff;
   
}

.box-action:hover {
        box-shadow: rgba(0, 188, 212, 0.15) 0px 5px 10px !important;
        background: #d7f3f7;
        transform: translateY(-2px);
        transition: all 0.3s ease-in-out;
}

.mud-button-label {
    gap: 10px;
}

.icon-action-color {
    color: var(--accent-color);
}

.result-random-icons {
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .mud-button-label {
        flex-direction: column;
    }
}


@media (max-width: 380px) {
/*    .mud-button-label {
        flex-direction: column;
    }*/
}
