/* ===================================
   ICP - Elements Page Styles
   =================================== */



/* Responsive */
@media (min-width: 960px) and (max-width: 1445px) {
    .table-weight {
        min-width: 100%;
    }

}
@media (max-width: 600px) {
    .table-weight {
        min-width: 100%;
    }
/*    .height-380 {
        height: 800px !important;
    }*/
}
@media (max-width: 380px) {

}
