/* ===================================
   ICP - Elements Page Styles
   =================================== */



/* Responsive */
@media (min-width: 960px) and (max-width: 1445px) {
 
}

@media (max-width: 960px) {
    



}

@media (max-width: 768px) {
   



}

@media (max-width: 600px) {
  
}

@media (max-width: 380px) {
    
}
