@import url("pages/login.css");
@import url("pages/import.css");
@import url("pages/dashboard.css");
@import url("pages/elements.css");
@import url("pages/weightCheck.css");
@import url("pages/dfCheck.css");
@import url("pages/crmCalibration.css");
@import url("pages/pivot.css");
@import url("site.css");
